engine-strict = true
prefer-offline = true
save-prefix = ~
package-lock = false
shrinkwrap = false
send-metrics = true

@~lisfan:registry = "https://registry.npmjs.org/"
@xkeshi:registry = "http://registry.fe.xkeshi.cn/"